{{template templates.head mode}}
<html>

{{navigation mode "project" "experiments"}}
<div class="content">



<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Making Electrocompetent cells · Benchling</title>
<link href="../../benchling.css" rel="stylesheet"/>
</head>
<body><div><div class="printable-container"><div><div class="protocolEditor"><div></div><div class="protocolEditor-pageContainer"><div class="protocolEditor-page"><div class="protocolEditor-contentWrapper"><h1 class="mediocre-titleEditor is-locked"><div class="editable selectable is-locked" contenteditable="false" data-allow-multiline="false" data-cid="pv1848-title" data-index="0">Making Electrocompetent cells</div></h1><div><h2>Introduction</h2><div class="intro-editor" data-editor="intro"><div class="editable selectable is-locked" contenteditable="false" data-allow-multiline="true" data-cid="pv1848-intro" data-index="0">Get started by giving your protocol a name and editing this introduction.
</div></div><h2>Materials</h2><div class="materials-editor" data-editor="materials"><div class="hiddenFocusEditable js-focusBearer" contenteditable="true" tabindex="-1"></div><ul class="materials"><li class="material"><div class="material-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="m1849" data-index="0">Reagents</div><ul class="components"><li class="component"><div class="component-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="c1850" data-index="0,0">Desired cell alequot- 25mL</div></li><li class="component"><div class="component-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="c1851" data-index="0,1">LB</div></li></ul></li><li class="material"><div class="material-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="m1852" data-index="1">Equipment</div><ul class="components"><li class="component"><div class="component-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="c1853" data-index="1,0">Incubator</div></li></ul></li></ul></div><h2>Procedure</h2><div class="stepsEditor mediocre"><div class="editor" data-editor="steps"><div class="hiddenFocusEditable js-focusBearer" contenteditable="true" tabindex="-1"></div><div class="mediocre-item is-header"><ul class="headers"><li><div class="step-editable-wrapper"><div class="step-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="s1854" data-index="0">Preparing Electrocompetent cells</div></div><div class="time-editable-wrapper"><div class="time-editable force-visible editable selectable is-locked" contenteditable="false" data-cid="time-s1854" data-index="0"></div><span class="glyphicon glyphicon-time time-editable-wrapper-icon" icon="time"></span></div></li></ul></div><div class="mediocre-item is-step"><ol class="steps"><li value="1"><div class="step-editable-wrapper"><div class="step-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="s1855" data-index="1">Pour 25mL of desired cell into a beaker and add 475mL of LB</div></div><div class="time-editable-wrapper"><div class="time-editable force-visible editable selectable is-locked" contenteditable="false" data-cid="time-s1855" data-index="1"></div><span class="glyphicon glyphicon-time time-editable-wrapper-icon" icon="time"></span></div></li></ol></div><div class="mediocre-item is-step"><ol class="steps"><li value="2"><div class="step-editable-wrapper"><div class="step-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="s1856" data-index="2">incubate at 37<sup>o</sup>C for 2 hours</div></div><div class="time-editable-wrapper"><div class="time-editable force-visible editable selectable is-locked" contenteditable="false" data-cid="time-s1856" data-index="2"></div><span class="glyphicon glyphicon-time time-editable-wrapper-icon" icon="time"></span></div></li></ol></div><div class="mediocre-item is-step"><ol class="steps"><li value="3"><div class="step-editable-wrapper"><div class="step-editable multi-editable editable selectable is-locked" contenteditable="false" data-cid="s1857" data-index="3"></div></div><div class="time-editable-wrapper"><div class="time-editable force-visible editable selectable is-locked" contenteditable="false" data-cid="time-s1857" data-index="3"></div><span class="glyphicon glyphicon-time time-editable-wrapper-icon" icon="time"></span></div></li></ol></div></div></div></div></div></div></div></div></div></div></div>
</body>
</html>




</div>
</html>
{{template templates.footer mode}}
